// Variables - State classes
// --------------------------------------------------

// Show navigation
$show-nav: '.s-show-nav';
$close-nav: '.s-close-nav';
$show-offcanvas-nav: '.s-show-offcanvas-nav';
$close-offcanvas-nav: '.s-close-offcanvas-nav';
$show-nav-dropdown: '.s-show-nav-dropdown';
$close-nav-dropdown: '.s-close-nav-dropdown';
$blur-content: '.s-blur-content';


// Slider
$slider-loaded: '.s-slider-loaded';

// Select
$select-dropdown-open: '.s-select-dropdown-open';

// Ads
$ad-closed: '.s-ad-closed';

// View more toggle
$view-more-is-open: '.s-view-more-open';
$view-more-is-closed: '.s-view-more-closed';

// Twitter Scroll
$container-down: '.s-container-down';
$container-up: '.s-container-up';

// View content
$content-is-open: '.s-content-open';
$content-is-hidden: '.s-content-hidden';

// Scroll top top
$scroll-to-top: '.s-scroll-to-top';

// Checkbox
$checkbox-checked: '.s-checked';


// Modals
$modal-is-overflowing: '.s-modal-overflowing';
$modal-overlay-is-open: '.s-modal-overlay-is-open';
$modal-overlay-is-closed: '.s-modal-overlay-is-closed';
$modal-is-open: '.s-modal-is-open';
$modal-is-closed: '.s-modal-is-closed';
$modal-is-error: '.s-modal-is-error';
$modal-is-loading: '.s-modal-is-loading';
$modal-touch-keyboard: '.s-modal-touch-keyboard';

// Tabs
// --------------------------------------------------
$tab-active: '.s-tab-active';
$tab-item-active: '.s-tab-item-active';

// Buttons
// --------------------------------------------------
$s-button-working: '.s-btn-working';
$s-button-success: '.s-btn-success';
$s-button-error: '.s-btn-error';

// Wordpress template modifiers
// --------------------------------------------------
$not-found-page: '.not-found';

// Fonts loaded
// --------------------------------------------------
$fonts-loaded: '.fonts-loaded';

// Shop navbar enabled
// --------------------------------------------------
$shop-navbar: '.s-shop-navbar';

// Nav colours
$nav-color-dark: '.nav-dark';
$nav-color-light: '.nav-light';
$nav-color-trans: '.nav-trans';
$nav-color-custom: '.nav-custom';