// Module - Tabs
// --------------------------------------------------

.tabs-sidebar-nav {
  @media only screen and (max-width: $screen-max-md) {
    margin-bottom: $global-spacing*2;
  }
}

.tabs-sidebar-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: $global-spacing;

  @media only screen and (max-width: $screen-max-md) {
    top: 35%;
    transform: rotate(90deg);

    &--no-rotate {
      transform: rotate(0deg);
    }
  }

  &--left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: $global-spacing;
  }

}

.tabs-search-wrap {
  position: relative;
}

.tabs-search {

  padding: $global-spacing;
  height: auto;
  border: 0;

}

.tabs-sidebar-nav-item {

  position: relative;
  padding: $global-spacing;
  border-bottom: solid $border-thin $border-colour-regular;
  font-weight: $weight-bold;

  cursor: pointer;

  transition: all 0.2s linear;

  &:last-of-type {
      border-bottom: 0;
  }

  &#{$tab-active} {
    @include text-shadow-dark;
    @include gradient-linear($core-brand-colour-dark, $core-brand-colour-extra-dark);

    background-color: $core-brand-colour-extra-dark;
    background-size: 1px 200%;
    background-repeat: repeat-x;
    background-position: 0 0;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
    color: #ffffff;

    .tabs-sidebar-icon {
      fill: #ffffff;
    }
  }
}

.tabs-sidebar-nav-icon-doctor {
  width: 3em;
  height: 3em;

  &--left {
    float: left;
  }

  &--right {
    float: right;
    height: 2em;
  }
}

// Tabs Box
// --------------------------------------------------

.tab-container {
  @extend %clearfix;
  background-color: darken($bg-colour-mid, 3%);
}

// Tab Nav
.tab-nav {
  @extend %clearfix;
  background-color: #fff;
}
.tab-nav-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
  text-align: justify;
}

.tab-nav-list-item {
  width: 20%;
  float: left;
  text-align: center;

  border-right: solid 1px #fff;

  &:last-of-type {
    border-right: 0;
  }

  @media only screen and (max-width: $screen-max-md) {
    width: 50%;
  }

  @media only screen and (max-width: $screen-max-xs) {
    width: 100%;
  }
}

// Tab sections
.tab-section {
  @extend %clearfix;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &#{$tab-active} {
    opacity: 1;
    height: auto;
    padding: 2em 1em;
  }

  &--twitter {
    opacity: 1;
    height: auto;
    padding: 2em 1em;
  }
}

.tab-item-wrap {

  height: 100%;
  position: relative;
  padding: 1.5em 1em;
  border: 1px solid $border-colour-regular;
  box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
  overflow: hidden;
  z-index: 2;
  background: #ffffff;
}

.tab-item {

  opacity: 0;
  transform: translate3d(0,-1em,0);
  transition:
          opacity 0.3s linear,
          transform 0.3s linear;

  #{$tab-active} & {
    opacity: 1;
    transform: translate3d(0,0,0);
  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  @media only screen and (max-width: $screen-max-md) {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  &--twitter {
    opacity: 1;
    transform: translate3d(0,0,0);
    border:0;
  }
}

.tab-item-title {
  @include type-scale-h4;
}

.tab-item-content {
  @extend %clearfix;
  margin: 1em 0;
}

.tab-item-link {
  font-weight: bold;
  position: relative;
  display: block;

  #{$no-touch} &:hover {

    .icon-tab-item-link {
      margin-left: 1.2em;
    }

  }
}

.icon-tab-item-link {

  $size: 1em;

  height: $size;
  width: $size;

  position: absolute;
  top: 50%;
  margin-top: -$size/2;

  margin-left: $size;

  fill: $core-brand-colour;

  transition: margin-left 0.1s linear;

}

// Twitter details

.tab-user-details-wrap {
  @extend %clearfix;

  position: relative;
  z-index: 2;
  padding-bottom: 1.3em;
}

.tab-user-name {
  @include type-scale-h3;
  margin-bottom: 0;
}

.tab-user-img {

  width: 25%;
  float: left;

}

.tab-user-details {

  @extend %clearfix;
  font-size: 0.9em;
}

.tabs-twitter-title {
  position: relative;
  display: inline-block;
  color: $twitter-colour;
}

.tabs-twitter-title-icon {
  height: 1em;
  width: 1em;
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  left: -1.5em;
  fill: $twitter-colour;
}

.twitter-link {
  color: $twitter-colour;

  transition: color 0.1s linear;

  &:hover {
    color: darken($twitter-colour, 10%);
  }
}

.twitter-timestamp {
  position: relative;
  padding-left: 1.5em;
}

.twitter-timestamp-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  fill: $core-brand-colour;
}

.icon-twitter-tab {

  $size: 15em;
  width: $size;
  height:$size;

  position: absolute;
  z-index: 1;

  top: 50%;
  left: 50%;

  margin-top: -$size/2;
  margin-left: -$size/2;


  fill: rgba(220,220,220, 0.2);

}


//Tabsy
@-webkit-keyframes showTab{
  from{
    opacity:0;
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
  to{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}
@keyframes showTab{
  from{
    opacity:0;
    -webkit-transform:translateY(10px);
    transform:translateY(10px)
  }
  to{
    opacity:1;
    -webkit-transform:translateY(0);
    transform:translateY(0)
  }
}

.tabsy {
  input[type=radio]:not(checked) + label {
    padding: 0.5rem 2rem;
    width: 33.33333%;
    margin-bottom: 0;

      &:before, &:after {
        display: none;
    }

    @media only screen and (max-width: $screen-md) {
      width: 100%;
    }
  }
}

.tabsy>button{
  width:100%;
  font-family:inherit;
  font-size:100%;
  margin:0;
  outline:0;
  border:0;
  vertical-align:baseline;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background:transparent
}
.tabsy>.tabButton{
  display:block;
  margin-top:1px;
  background:#f1f1f1;
  color:#a1a1a1;
  font-weight: normal;
  text-align:center;
  -webkit-transition:all 250ms ease-in-out;
  transition:all 250ms ease-in-out
}
.tabsy>input{
  display:none
}
.tabsy>input:checked+label+.tab{
  display:block
}
.tabsy>input:checked+label+.tab>.content{
  -webkit-animation:showTab 250ms ease-in-out;
  animation:showTab 250ms ease-in-out;
  font-size: 0.875em;
}
.tabsy>.tab{
  background:#fff;
  display:none;
  width: 100%;
  padding: $global-spacing;
  border-left: 1px solid #dcdcdc;
  border-right: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}
@media screen and (min-width: 768px){
  .tabsy{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
  }
  .tabsy>.tabButton{
    -webkit-box-ordinal-group:2;
    -webkit-order:1;
    -ms-flex-order:1;
    order:1;
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start;
    cursor:pointer
  }
  .tabsy>input:checked+label{
    background:#efece8;
    font-weight: bold;
    color:#5a5243
  }
  .tabsy>.tab{
    -webkit-box-ordinal-group:3;
    -webkit-order:2;
    -ms-flex-order:2;
    order:2
  }
}

.pricing {
  margin-bottom: $global-spacing;

  &:last-of-type {
    margin-bottom: 0;
  }
}