// Module - Footer content
// --------------------------------------------------

.footer {
  background-color: $bg-colour-extra-dark;
  color: #fff;

  padding-top: $global-spacing*2;
  padding-bottom: $global-spacing*2;
}